<%- include('header2'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Payment</title>
</head>
<body>
    <center>
        <img src = payment.png>
        <p>Enter Transaction Id : <input type="text" name="tid" id="tid" required></p>
        <br>
        <input type="button" value="submit" id="confirm">
    </center>

</body>
</html>

<%- include('footer'); -%>